.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.pays{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 20px;
    text-align: center;
}
